.nft-part{
    display: flex;
    flex-flow: column;
}

.nft-sites-filter{
    height: 100px;
    width: 60%;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sites-bg{
    width:100%;
    background-image: linear-gradient(to bottom, rgba(0, 117, 185, 0.8), rgba(209, 0,164, 0.8));
    display: flex;
    justify-content: center;
}

.nft-sites-filter a{
    background-color: rgb(36, 36, 36);
    color: rgb(209, 0, 164);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 15px;
    letter-spacing: 1.5px;
    transition: 0.3s;
}

.nft-sites-filter a:hover{
    background-color: rgb(209, 0, 164);
    color: rgb(36, 36, 36);
    border-top-left-radius: 15px;
    transform: scale(120%);
    letter-spacing: 3px;
}

.nft-sites-filter a:first-child{
    background-color: rgb(209, 0, 164);
    color: rgb(36, 36, 36);
    border-top-left-radius: 15px;
}

/*-----End of Site Filter-----*/

.nft-market{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.market-item img{
    width: 300px;
    height: auto;
    border-top-right-radius: 25px;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}

.market-item{
    margin: 40px 40px;
}

.nft-market-bg{
    display: flex;
    justify-content: center;
}

.nft-info p{
    position: absolute;
    top: -90%;
    font-size: 30px;
    letter-spacing: 5px;
    color: rgb(36, 36, 36);
}

.nft-info {
    transition: 0.5s;
}

.nft-info a{
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    transition: 0.5s;
}

.nft-info:hover a{
    color: rgb(41, 177, 0);
    cursor: pointer;
}

.buy-now{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,210%);
}

.buy-now::before{
    content: ">";
    top: 10%;
    left: 100%;
    position: absolute;
    transition: 0.5s;
}

.buy-now::after{
    content: "<";
    top: 10%;
    right: 100%;
    position: absolute;
    transition: 0.5s;
    transform-origin: 0;
}

.buy-now:hover::after{
    transform: translateX(100px);
}

.buy-now:hover::before{
    transform: translateX(-100px);
}

.nft-info{
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 25px;
    border: 1px solid rgb(36, 36, 36);
}


